body {
    background-color: #222;
}

.alert {
    margin-top: 1em;
}

.jumbotron {
    background-color: #303030;
    margin-top: 1em;
}

.fa-star {
    color: #ffd700;
}

.card {
    margin-bottom: 1em;
}

.divider-vertical {
    border-left: 1px solid gray;     /* right or left is the same */
    float: left;                     /* so BS grid doesn't break */
    opacity: 0.5;                    /* optional */
    margin: 0 15px;                  /* optional */
}

.search-result {
    position: absolute;
    max-height: 230px;
    width: 95%;
    overflow: auto;
}

.search-result-item {
    cursor: pointer;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
