body {
    background-color: #222;
}

.alert {
    margin-top: 1em;
}

.jumbotron {
    background-color: #303030;
    margin-top: 1em;
}

.fa-star {
    color: #ffd700;
}

.card {
    margin-bottom: 1em;
}

.divider-vertical {
    border-left: 1px solid gray;     /* right or left is the same */
    float: left;                     /* so BS grid doesn't break */
    opacity: 0.5;                    /* optional */
    margin: 0 15px;                  /* optional */
}

.search-result {
    max-height: 230px;
    width: 95%;
    overflow: auto;
}

.search-result-item {
    cursor: pointer;
}

.tooltip-inner {
    max-width: 500px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

table {
    color: white;
}

.toolbar {
    float: left;
}

.vertical-middle {
    vertical-align: middle !important;
}

#killmails-table {
    margin: auto;
    width: 100%;
}

/* Fix for DataTables with full width showing scrollbar */
@media only screen and (min-width: 768px) {
    .table-responsive {
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 1000px) {
     #killmails-table {
        width: 50%;
    }
}

.auto-roles-list-item:hover {
    background-color: #383838;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #8e8e8e;
}

.page-link {
    background-color: #212529 !important;
    color: white;
    border: none;
}
