files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDVwcU10JsgXsgRDKrQ6vrvbY5vXai2/LMapK77cybgfzHSxe1XsGwmLPVYNBKQj54zhmyyhULV2qpu/zjL4FiCg3Qmtz4bqhTw7haqmw1dhkvzkVRaKt4O+MaaiDt1+W/zRMKZADqYdNLQjsXRnHIaK77GyRuJ/1WWF6gyf4P95MuE7jbdM0QgTpEq7kwbk2WKVYX7fVXgeKOaJl0jKpcn4hJYRD7SIurpgTfclZi/d/Rv0sze7yFBwnz0wvi9ANdYnUFWZA8tAeOaW7rn/m34GsVyMdD1V33ixLbmuyanVr7o2oAEkRBVmwD+X4RGGzEGR0eOi+xy+317lCrgf7k70xQjNKHe3NzaEjmUVYmPENaX+PbUtehIZeU7AsLn9Gfhj7c0itNMU9yj5FLyJkctMjCgSH9d3U/Swlaop4pQjwXkgLnv4af5QGAW3iqSlQYr18JTsPa596dDBRq22tZfGJSygwnqfJsjuY0l+oxAk1OwVo5lzmwkmjYseZhjckru8kzQ8hOo8ZAU5Sp52eBJ3QOpZeY8kX4vT/LWod5NKrulq1Tj2/9wUv2iuPnZlvX/NqK23mafvnOICb1lAG/U10MP/S26vDzsR8ed2MEP80zqtTvL9o+B/xYG0bYN0mkGnUJNXhh6NM0pyz22xRAZefllNCxzpmsN0LjsRmoV8w== rangvaldr@protonmail.com 
commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys
