container_commands:
  maintenance_mode_enabled:
    command: |
      /opt/elasticbeanstalk/support/envvars-wrapper.sh
      php artisan down
  db_migrations:
    command: |
      /opt/elasticbeanstalk/support/envvars-wrapper.sh
      php artisan migrate

  maintenance_mode_disabled:
    command: |
      /opt/elasticbeanstalk/support/envvars-wrapper.sh
      chmod +x artisan
      php artisan up
